/* =reset */
body {
  margin: 0;
  padding: 0;
}
input, textarea {
  -webkit-appearance: none;
}


/* =style */
html, body, .page {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.page {
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  box-sizing: border-box;
  padding: 5px 10px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  margin: -1px;
  margin-bottom: 0;
  transition: transform 0.3s, opacity 0.3s, margin-bottom 0.3s;
  z-index: 3;
}
.header.folded {
  margin-bottom: -41px;
}
.header.folded:not(:hover) {
  transform: translateX(calc(100% - 15px));
  opacity: 0.5;
}
.button {
  display: inline-block;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  transform: scale(0.68);
  cursor: pointer;
  background-color: inherit;
}
.button:hover {
  transition: transform ease-in-out 0.1s;
  transform: scale(0.8);
  outline: 1px solid #eee;
  outline-offset: 4px;
}
.button:active {
  transform: scale(0.5);
}
#fold {
  width: 10px;
  margin-right: -10px;
}
#search {
  flex-grow: 1;
  margin: 0;
}
.awesomplete {
  width: 100%;
}
#address {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  height: 30px;
  font-size: 14px;
  line-height: 1;
  border: 1px solid #eee;
  border-radius: 4px;
  outline: none;
  color: #333;
  text-indent: 4px;
}
#iframe {
  flex-grow: 1;
  width: 100%;
  transition: margin-top 0.3s, transform 0.3s;
}
.header.folded:hover + #iframe {
  transform: translateY(41px);
}
